@model CocktailAllViewModel

@{
	ViewBag.Title = "All";
	ViewBag.ActionName = "All";

	string GetStarClass(int starNumber, double averageRating)
	{
		double roundedRating = Math.Floor(averageRating);
		double decimalPart = averageRating - roundedRating;

		if (starNumber <= roundedRating)
		{
			return "active";
		}
		else if (starNumber == roundedRating + 1 && decimalPart >= 0.5)
		{
			return "half";
		}
		else
		{
			return "";
		}
	}
}

<link rel="stylesheet" href="~/css/rating.css" />

<h2 class="text-center" id="header">Our Cocktails Collection</h2>
<hr />
<div class="text-center row">
	@foreach (var cocktail in Model.Cocktails)
	{
		<div class="card col-md-4 me-2 mb-3" style="width: 20rem;">
			<div class="rating-box">
				<div class="stars">
					<div class="stars">
						@for (int i = 1; i <= 5; i++)
						{
							<i class="fas fa-star @GetStarClass(i, cocktail.AverageRatingValue)"></i>
						}
					</div>
				</div>
			</div>
			<img src="@cocktail.Url" class="card-img-top" alt="cocktail picture" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">@cocktail.Name</h5>
				<p class="card-text">@cocktail.Description</p>
			</div>
			<div>
				<a asp-controller="Cocktail" asp-action="ShowMore" asp-route-id="@cocktail.Id" class="btn btn-primary">Show More Details</a>
			</div>
			<hr>
		</div>
	}
</div>

<hr />

<partial name="_PagingPartial" model="@Model" />

