@model CocktailShowDetailsModel

@{
	ViewBag.Title = "More Details";
}


<partial name="_CocktailCardPartial" model="Model.Cocktail" />


<div class="offset-7 col-6 mt-4 d-grid d-md-block" style="width: 30rem;">
    @if(Model.isInWishList)
    {
        <a asp-controller="UserCollection" asp-action="ShowWishList" asp-route-id="@Model.Cocktail.Id" class="mb-3 btn btn-info">In WishList</a>
    }
    else
    {
        <a asp-controller="UserCollection" asp-action="AddToWishList" asp-route-id="@Model.Cocktail.Id" class="mb-3 btn btn-primary">Add to Wishlist</a>
    }

    @if(Model.isInTried)
    {
        <a asp-controller="UserCollection" asp-action="ShowTried" asp-route-id="@Model.Cocktail.Id" class="mb-3 btn btn-info">In Tried</a>
    }
    else
    {
        <a asp-controller="UserCollection" asp-action="AddToTried" asp-route-id="@Model.Cocktail.Id" class="mb-3 btn btn-primary">Mark as Tried</a>
    }

    @if(Model.isInFavourites)
    {
        <a asp-controller="UserCollection" asp-action="ShowFavourite" asp-route-id="@Model.Cocktail.Id" class="mb-3 btn btn-info">In Favourites</a>
    }
    else
    {
        <a asp-controller="UserCollection" asp-action="AddToFavourite" asp-route-id="@Model.Cocktail.Id" class="mb-3 btn btn-primary">Add to Favorites</a>
    }

    <div class="d-flex flex-row">
        @if (User.IsInRole("CocktailEditor"))
        {
            <form asp-controller="Cocktail" asp-action="Delete" asp-route-id="@Model.Cocktail.Id" method="post">
                <button type="submit" class="me-2 mb-3 btn btn-warning">Delete</button>
            </form>
            <a asp-controller="Cocktail" asp-action="Edit" asp-route-id="@Model.Cocktail.Id" class="mb-3 btn btn-success">Edit</a>
        }
    </div>
</div>


