@model CocktailFullModel

@{
	ViewBag.Title = "More Details";
}


<partial name="_CocktailCardPartial" model="Model" />


<div class="offset-7 col-6 mt-4 d-grid d-md-block style="width: 30rem;">
	<a asp-controller="UserCollection" asp-action="AddToWishlist" asp-route-id="@Model.Id" class="mb-3 btn btn-primary">Add to Wishlist</a>
	<a asp-controller="UserCollection" asp-action="AddToTried" asp-route-id="@Model.Id" class="mb-3 btn btn-primary">Mark as Tried</a>
	<a asp-controller="UserCollection" asp-action="AddToFavourite" asp-route-id="@Model.Id" class="mb-3 btn btn-primary">Add to Favorites</a>
	@if (User.IsInRole("CocktailEditor"))
	{
		<a asp-controller="Cocktail" asp-action="Edit" asp-route-id="@Model.Id" class="mb-3 btn btn-success">Edit</a>
		<a asp-controller="Cocktail" asp-action="Delete" asp-route-id="@Model.Id" class="mb-3 btn btn-warning">Delete</a>
	}
</div>


