@model CocktailHomeModel

@{
	ViewBag.Title = "Home";
	var cocktails = Model.Cocktails.ToList();
}

<div class="container">
	<h3 class="text-center">Are you looking for a summer cocktail inspiration?</h3>
	<h3 class="text-center">You are at the right place.</h3>
	<p class="text-center"><b>Here are the top 3 cocktails with highest rating.<b></p>

	<div id="demo" class="carousel slide" data-bs-ride="carousel">

		<div class="carousel-indicators">
			<button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
			<button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
			<button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
		</div>

		<div class="carousel-inner">
			@for (int i = 0; i < cocktails.Count; i++)
			{
				var cocktail = cocktails[i];
				<div class="carousel-item @(i == 0 ? "active" : string.Empty)">
					<div class="d-flex justify-content-center">
						<img src="@cocktails[i].ImageUrl" alt="@cocktails[i].Name" class="d-block w-90">
						<div class="carousel-caption d-none d-md-block">
							<h5>
								<a class="btn btn-success" asp-controller="Cocktail" asp-action="ShowMore"
								   asp-route-id="@cocktail.Id"> @cocktail.Name</a>
							</h5>
						</div>

					</div>
				</div>
			}

		</div>

		<button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
			<span class="carousel-control-next-icon"></span>
		</button>
	</div>
	<hr />

	<div class="mt-4 p-3 bg-primary text-white rounded">
		<h1>Welcome to our refreshing cocktail world!</h1>
		<p>
			Are you ready to embark on a delightful journey into the world of cocktails? 🍹
			We're thrilled to introduce you to our diverse collection of cocktails, carefully curated to cater to your taste buds.
		</p>
		<p>
			Explore our extensive database of cocktails, currently boasting an impressive collection of @Model.CocktailsCount unique concoctions.
			Whether you're a seasoned cocktail enthusiast or a curious newcomer, there's something for everyone!
		</p>
		<p>
			Feeling adventurous? Let us surprise you with a random cocktail creation.
			Just click the <strong>"Get a Random Cocktail"</strong> button and let fate decide your next drink of choice. 🍸
		</p>
		<p>
			If you prefer to take your time and savor each option, fear not! Our <strong>"View All Cocktails"</strong> button will lead you to an array of delightful recipes, each waiting to be discovered.
		</p>
		<div class="container d-flex justify-content-center">
			<div class="mt-4 d-grid d-md-block">
				<a class="btn btn-primary me-3" asp-controller="Cocktail" asp-action="RandomCocktail">Get a Random Cocktail</a>
				<a class="btn btn-primary me-3" asp-controller="Cocktail" asp-action="All">View All Cocktails</a>
			</div>
		</div>
	</div>
</div>

