@model CocktailFullModel

<div class="container">
	<h2 class="heading-margin text-center" style="margin-bottom: 50px">Great choice! @Model.Name</h2>
	<img src="@Model.Image" class="rounded float-start" style="width: 512px; height: 512px;" alt="Coctail picture">
	<div class="offset-7">
		<div class="card" style="width: 32rem;">
			<div class="card-header">
				<div class="justify-align">
					<div>
						<p class="card-text h5 text-decoration-underline mb-2">@Model.CategoryName</p>
					</div>
					<div>
						<p>@Model.Description</p>
					</div>
					<div>
						<h5 class="text-decoration-underline">Instructions</h5>
						<p>@Model.Instructions @(Model.Garnish != null ? "Garnish: " + Model.Garnish : null)</p>
					</div>
				</div>
				Ingredients:
				@foreach (var ingredient in Model.Ingredients)
				{
					<ul class="list-group list-group-flush">
						<li class="list-group-item">@ingredient.IngredientName - @ingredient.Quantity @(ingredient.Note != null ? (ingredient.Note) : null) </li>
					</ul>
				}
			</div>
		</div>
	</div>
</div>