@model IEnumerable<CocktailCollectionModel>

<div class="row">
	<h2 class="text-center">@ViewBag.Title</h2>

	@if (!Model.Any())
	{
		<h4 class="text-center">You do not have any cocktails added to this collection!</h4>
	}

	@foreach (var cocktail in Model)
	{
		<div class="card me-2 mx-2" style="width: 18rem;">
			<img src="@cocktail.ImageUrl" class="card-img-top" alt="Cocktail Image">
			<div class="card-body">
				<h5 class="card-title text-center">@cocktail.Name</h5>
				<div class="text-center">
					<a asp-controller="Cocktail" asp-action="ShowMore" asp-route-id="@cocktail.Id" class="btn btn-primary">Details</a>
					<a asp-controller="UserCollection" asp-action="@ViewBag.ActionName" asp-route-id="@cocktail.Id" class="btn btn-primary">Remove</a>
				</div>
			</div>
		</div>
	}
</div>